<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <title>Farmer Details</title>
</head>
<%- include('partials/style') %>
<%- include('partials/header') %>
<body style="background-color: ivory;">
     <div class="container" style="background-color: lavender;">
         <diV ><h5>Name :<%=farmer.ID %></h5>  </diV><br>
         <diV><h5> Name :<%=farmer.NAME %> </h5></diV><br>
         <diV><h5>Account Number :<%=farmer.BANKACCOUNT %></h5> </diV><br>
         <diV><h5>Land record Number :<%=farmer.LANDRECORD %> </h5> </diV><br>
         <diV><h4>CROPS</h4> </diV><br>
         <ul >
             <li><h5><%=farmer.CROP1 %></h5> </li>
             <li><h5><%=farmer.CROP2 %></h5>  </li>
             <li><h5><%=farmer.CROP3 %></h5>  </li>
             <li><h5><%=farmer.CROP4 %></h5> </li>
         </ul>














     </div>







 




</body>
</html>





















</html>